body {
  font-family: Arial;
  background-color: white;
  color: black;
}

.centered {
  text-align: center;
}

.row {
  display: flex;
}

.left {
  width: 60%;
  border: 1px solid black;
}

.right {
  width: 40%;
  border: 1px solid black;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 1; 
}


/*.space{
  margin: 10px 0;
}

svg {
  width: 200 px;
}

circle {
  fill: red;
}

circle:hover {
  fill: #FFFF00 ;
}

---------------- new

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}


.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}


.data {
  fill: red;
  stroke-width: 1; 
}
View Compiled


Resources*/